@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  :root {
    scrollbar-color: #1e293b transparent;
    scrollbar-width: thin;
  }

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #060a14;
  }

  ::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
    border: 1px solid #060a14;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #0891b2;
    box-shadow: 0 0 10px rgba(8, 145, 178, 0.4);
  }

  ::-webkit-scrollbar-corner {
    background: #060a14;
  }
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #1e293b;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}